.switch input {
    position: absolute;
    opacity: 0;
  }
  
  /**
   * 1. Adjust this to size
   */
  
  .switch {
    display: inline-block;
    font-size: 20px;
    height: 2.5em;
    width: 16em;
    position:absolute;
    border: 1px solid gray;
    border-radius: 6em;
    margin-left: 9px;

  }
  
  .switch div {
    height: 50px;
    width: 8em;
    border-radius: 3em;
    background: #fcba7d;
    -webkit-transition: all 300ms;
    transition: all 300ms;
    margin-top: -1px;
    position: relative;
    font-family:"Trebuchet MS", Helvetica, sans-serif;  
    top: -24px;
    color: #ffff;
    line-height: 47px;
    padding-left: 10%;
    transform: translate3d(100%, 0, 0);
    font-weight:normal;
  }
  .male{
    position: relative;
    top: 11px;
    left: 14%;
    font-size: 16px;
  }
  .female{
    position: relative;
    top: 11px;
    right: -47%;
    font-size: 16px;
  }
//   .switch input:checked + div {
//     transform: translate3d(100%, 0, 0);
//   }
  .edit{
    font-size:24px;
    font-weight:bold;
    font-family:Tahoma, Geneva, sans-serif;
    margin-top: -5px;
}
.inp{
    border-bottom:2px solid #ededed;
    margin-top: 2px;
    width:90%;
    margin-left: 5%;
    --padding-bottom:2px !important;
}
.unmae{
    font-size: 14px;
    margin-top: 4%;
    margin-left: 8%;
}
.inplong{
    width:90%;
}
.left{
    margin-left: 14%;
}
.vvv{
    font-weight: bold;
    margin-left: 20px;
    margin-top: -19px;
}
.paybox{
    width: 90%;
    height: 113px;
    margin-left: 5%;
    border: 3px solid #f3f3f3;
    border-radius: 20px;
}
.note{
    color: gray;
    margin-top: 10px;
    font-size: 13px;
    font-family: Tahoma, Geneva, sans-serif;

}
.paybtn{
    background: #5162f5;
    width: 80%;
    height: 40px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    border-radius: 10px;
    margin-left: 9%;
    margin-top: 11px;
}