

<ion-content>
  <ion-grid>
    <ion-row style="margin-top: 13px;">
      <ion-col><ion-icon (click)="goto('home')" name="arrow-back" style="font-weight: bold;font-size: 25px;
      "></ion-icon><span (click)="goto('home')" style="    font-weight: bold;
    margin-left: 34px;
    margin-top: -25px;
    display: block;">Back</span></ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" class="center">
        <div class="lbl">Welcome back</div> 
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: 52%;" >
      <ion-col size="12" >
        <div class="card">
          <ion-row>
            <ion-col size="12">
              <div class="unmae">Username or Email</div>
              <ion-input [(ngModel)]="email" class="inp"></ion-input>
              <div class="unmae">Password</div>
              <ion-input type="password" [(ngModel)]="password" class="inp"></ion-input>
            </ion-col>
          </ion-row>
          <ion-row>
              <ion-col size="12" >
                <span class="for" (click)="goto('forgot')">Forgot password?</span>
              </ion-col>
            </ion-row>
          <ion-row>
            <ion-col size="12">
                <ion-button (click)="login()" class="btn" size="small" color="dark" style="">Login</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" class="center">
              <span style="font-size: 13px;">Don't have an account?</span><span style="font-weight: bold;text-decoration: underline;font-size: 14px;">Signup</span>
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
 