ion-content{
    --background: #fff url('src/assets/img/bglogin.png') no-repeat center center / cover;
}

.card{
    width: 100%;
    background: #fff;
    border-radius:20px;
    box-shadow: 0 11px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 8px;
}
.lbl{
    font-weight:bold;font-size: 27px;margin-top: 30px;
}
.btn{
    width: 92%;
    height: 34px;
    text-transform: capitalize;
    margin: 0 auto;
    display: block;
}
.inp{
    border-bottom:2px solid #ededed;
    margin-top: 5px;
    width:85%;
    margin-left: 8%;
    --padding-bottom:2px !important;
}
.unmae{
    font-size: 14px;
    margin-top: 10%;
    margin-left: 8%;
}
.for{
    text-decoration: underline;
    color: #fcba7d;
    font-size: 13px;
    margin-left: 7%;
}