.edit{
    font-size:24px;
    font-weight:bold;
    font-family:Tahoma, Geneva, sans-serif;
    margin-top: -5px;
}
.txt{
    font-size: 13px;
    margin-left: 18%;
    margin-top: 5px;
}
.add{
    font-size: 15px;
    font-weight: bold;
    color: gray;
}
.price{
    margin-top: 13px;
}
.inp{
    border-bottom:2px solid #ededed;
    width:85%;
    margin-left: 8%;
    --padding-bottom:0px !important;
}
.profbtn{
    width: 85%;
    height: 33px;
    border: 3px solid #e8e8e8;
    background: none;
    border-radius: 5px;
    margin-top: 0px;
    margin-left: 5%;
}
.hh{
    border:  3px solid #fcba7d;
    background: #fcba7d;
    color: #fff
}