

<ion-content>
  <div class="whitebox namediv"> 
    <img class="imh" src="assets/img/Group 104.png">
    <ion-row>
        <ion-col size="12" class="center">
          
          <div class="lbl2">on 16th Sep, 2019</div>
          <ion-label class="lbl">Happy 25th Birthday :)</ion-label>
          <div class="namediv">
              <img class="proinm" src="assets/img/Profile.png"><span>Samantha Jophsan</span>
          </div>
        </ion-col>
      </ion-row>
  </div>
 <ion-row style="margin-top: 130%;"> 
    <ion-col size="12">
        <div class="vvv">You received</div>
        <label class="switch" ><span class="male">You received</span><span class="female">$500.00 AUD</span><input checked  type="checkbox" />    <div id="abc">You received</div>
        </label>
    </ion-col>
 </ion-row>
 <ion-row style="margin-top: 25%;"> 
    <ion-col size="12">
        <div class="vvv">Message from samantha</div>
        <div class="msgbox"></div>
    </ion-col>
 </ion-row>
 <ion-row style="margin-top:5%;"> 
    <ion-col size="12">
        <div class="vvv">Photos and videos</div>
        <ion-segment color="primary">
            <ion-segment-button value="standard">
              <img src="assets/img"> 
            </ion-segment-button>
            <ion-segment-button value="hybrid">
              <ion-label>Hybrid</ion-label>
            </ion-segment-button>
            <ion-segment-button value="sat">
              <ion-label>Satellite</ion-label>
            </ion-segment-button>
          </ion-segment>
    </ion-col>
 </ion-row>
</ion-content>
